.btn {
  width: pxToRem(300);
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: pxToRem(31);
  letter-spacing: pxToRem(1);
  color: $black;
  font-size: pxToRem(20);
  height: pxToRem(60);
  letter-spacing: 1px;

  // FIXME: update when have new UI state from design
  &:active {
    opacity: 0.7;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: auto;
  }

  &--primary {
    background-color: $btn-primary-bg;
    @include boxShadow(0, pxToRem(8), pxToRem(16), 0, $orange-transparent);
  }

  &--secondary {
    background-color: $btn-secondary-bg;
  }

  &--outline {
    background-color: $btn-outline-bg;
    color: $btn-outline-color;
    @include border(pxToRem($border-width-base), solid, $btn-outline-border);
  }

  &--transparent {
    color: $btn-transparent-color;
    background-color: $btn-transparent-bg;
    @include border(
      pxToRem($border-width-base),
      solid,
      $btn-transparent-border
    );
  }
}
