$font-size-base: 16;
$border-width-base: 2;

// colors
$backgroundColor: #dddce1;
$alto-ess: #eee;
$dove-gray: #666666;
$red: red;
$white: #fff;
$blue-linght: #5a57cb;
$color-box1: #396c98;
$dusty-gray: #9b9b9b;
$textBody: #6a7988;
$white-linght: #f3f5f8;
$bg-group: rgba(255, 255, 255, 0.8);

// fonts
$openSans: 'Open Sans';
